{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập hệ thống quản lý bán vé</title>
    <link rel="stylesheet" href="{% static 'app/CSS/home.css' %}">
    <img src="C:\Users\nikla\OneDrive\Desktop\Loc_pr\demo-Software-Management\project\project\home\Templates\images\img1.jpg" width="50" height="100" alt="Logo">
</head>
<body>
    <div class="login-container">
        <h2>Đăng nhập</h2>
        <form action="/login" method="POST">
            <div class="form-group">
                <label for="username">Tên đăng nhập</label>
                <input type="text" id="username" name="username" placeholder="Nhập tên đăng nhập" required>
            </div>
            <div class="form-group">
                <label for="password">Mật khẩu</label>
                <input type="password" id="password" name="password" placeholder="Nhập mật khẩu" required>
            </div>
            <button type="submit" class="btn">Đăng nhập</button>
        </form>
        <div class="form-footer">
            <p>Quên mật khẩu? <a href="{% url 'forgot_password' %}">Nhấn vào đây</a></p>
            <p>Chưa có tài khoản? <a href="/register">Đăng ký</a></p>
        </div>
    </div>
</body>
</html>